# 둘째 마당 - 재귀호출
* 문제 04 : 팩토리얼 구하기
* 문제 05 : 최대공약수 구하기
* 문제 06 : 하노이의 탑 옮기기

## 문제 04

In [3]:
# 1부터 n까지 연속한 정수의 곱을 구하는 알고리즘

def factorial(n):
    fac = 1
    for i in range(1, n+1):
        fac *= i
    return fac

In [4]:
print(factorial(4))

24

In [7]:
# 재귀호출로 팩토리얼 구하기
# 재귀 호출에는 종료 조건이 꼭 필요하다

def factorial2(n):
    if n <= 1:
        return 1
    return n * factorial2(n-1)

In [8]:
print(factorial2(4))

24

### 연습문제

In [10]:
# 4-1 문제 1 의 1부터 n까지의 합 구하기를 재귀 호출로 만들어 보세요

def sum_nums(n):
    if n <= 1:
        return 1
    return n + sum_nums(n-1)

In [11]:
sum_nums(4)

10

In [14]:
# 4-2 문제 2 의 숫자 n개 중에서 최댓값 찾기를 재귀 호출로 만들어 보세요
# 다시, 다시, 다시

def max_num(a, n):
    if n == 1:
        return a[0]
    max_n = max_num(a, n-1)
    if max_n > a[n-1]:
        return max_n
    else:
        return a[n-1]

In [15]:
num_list = [17, 92, 18, 33, 58, 7, 33, 42]

max_num(num_list, len(num_list))

92

## 문제 05

In [16]:
# 두 자연수 a와 b의 최대공약수를 구하는 알고리즘
'''
두 자연수의 최대공약수를 찾으려면
두 수의 약수 중에서 공통된 것을 찾아
그 값 중 최댓값인 것을 찾아야 한다.
'''
# 입력 : a, b
# 출력 : a와 b의 최대공약수

def gcd(a, b):
    i = min(a, b)

    while True:
        if a % i == 0 and b % i == 0:
            return i
        i -= 1

In [17]:
print(gcd(1, 5))
print(gcd(3, 6))
print(gcd(60, 24))
print(gcd(81, 27))

1
3
12
27

In [21]:
# 유클리드 알고리즘
'''
a와 b의 최대공약수는 'b'와 'a를 b로 나눈 나머지'의 최대공약수이다.
gcd(a, b) = gcd(b, a % b)
gcd(n, 0) = n
어떤 두 수의 최대공약수를 구하기 위해 다시 다른 두 수의 최대공약수를 구하고 있다.
=> 재귀 호출
'''

def gcd2(a, b):
    print(f"gcd : {a} {b}")
    if b == 0:
        return a
    return gcd2(b, a % b)

In [22]:
print(gcd2(1, 5))
print(gcd2(3, 6))
print(gcd2(60, 24))
print(gcd2(81, 27))

gcd : 1 5
gcd : 5 1
gcd : 1 0
1
gcd : 3 6
gcd : 6 3
gcd : 3 0
3
gcd : 60 24
gcd : 24 12
gcd : 12 0
12
gcd : 81 27
gcd : 27 0
27

### 연습문제

In [23]:
# 5-1 0과 1부터 시작해서 바로 앞의 두 수를 더한 값을 다음 값으로 추가하는 방식으로 만든 수열
# n번째 피보나치 수열 찾기
# 입력 : n값 (0부터 시작)
# 출력 : n번째 피보나치 수열 값

def fibo(n):
    if n <= 1:
        return n
    return fibo(n-2) + fibo(n-1)

In [24]:
print(fibo(7))
print(fibo(10))

13
55

## 문제 06
* 다시 다시 다시 다시

In [39]:
# 원반이 n개인 하노이의 탑을 옮기기 위한 원반 이동 순서를 출력하는 알고리즘
'''
1. 원반이 한 개이면 그냥 옮기면 종료
2. 원반이 n개일 때,
    2-1. 1번 기중에 있는 n개 원반 중 n-1개를 2번 기둥으로 옮긴다.
    2-2. 1번 기둥에 남아 있는 가장 큰 원반을 3번 기둥으로 옮긴다.
    2-3. 2번 기둥에 있는 n-1개 원반을 다시 3번 기둥으로 옮긴다.
'''
# 입력 : 옮기려는 원반의 개수 n / 옮길 원반이 현재 있는 출발점 기둥 from_pos
#        원반을 옮길 도착점 기둥 to_pos / 옮기는 과정에서 사용할 보조 기둥 aux_pos
# 출력 : 원반을 옮기는 순서

def hanoi(n, from_pos, to_pos, aux_pos):
    if n == 1:
        print(from_pos, "->", to_pos)
        return
    hanoi(n-1, from_pos, aux_pos, to_pos)
    print(from_pos, "->", to_pos)
    hanoi(n-1, aux_pos, to_pos, from_pos)

In [42]:
print("n = 1")
hanoi(1, 1, 3, 2)

n = 1
1 -> 3

In [43]:
print("n = 2")
hanoi(2, 1, 3, 2)

n = 2
1 -> 2
1 -> 3
2 -> 3

In [44]:
print("n = 3")
hanoi(3, 1, 3, 2)

n = 3
1 -> 3
1 -> 2
3 -> 2
1 -> 3
2 -> 1
2 -> 3
1 -> 3